@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

.heading,.player-heading {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.container{
    width: 70%;
    margin: auto;
    text-align: center;
}

.heading {
    font-size: 4rem;
    color: rgb(60, 208, 60);
}

.dice {
    display: inline-block;
}